body {
  font-family: "Lato", sans-serif;
}

#root {
  margin: 50px 0;
}

.content-for-layout #root {
  font-size: 160%;
}
.tool-container {
  max-width: 1280px;
  margin: 30px auto;
  width: 100%;
  padding: 0 20px;
  float: none;
  // max-width: 1820px;
  padding: 10px 15px;  
  @include media-breakpoint-up(lg) {
      width: 95%;
  }

}

#root div:empty {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.modal-open div:empty {
  display: block !important;
}

p {
  font-size: 16px;
  line-height: normal;
}

a {
  text-decoration: none;
}

.f_heading {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #000;
  margin-bottom: 10px !important;
  text-align: left;
  text-transform: uppercase;
  max-width: 80px;
  min-width: 80px;
  font-family: "Lato", sans-serif !important;
  .f_popup {
    i {
      padding-left: 6px;
      font-size: 15px;
      cursor: pointer;
    }
  }
}

.diamond_heading {
  max-width: 136px;
  min-width: 136px;
}

ul {
  margin: 0;
  padding-left: 0;
  li {
    list-style: none;
  }
}

input {
  font-family: "Lato", sans-serif;
}

input[type="radio" i] {
  position: absolute;
  margin: 0;
  width: 100%;
  left: 0;
  height: 100%;
  opacity: 0;
  z-index: 2;
  top: 0;
  cursor: pointer;
}

select {
  box-shadow: none !important;
}

// modal css
.react-responsive-modal-root {
  .react-responsive-modal-container {
    overflow-y: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    // @include media-breakpoint-up(sm) {
    //     overflow-y: hidden;
    // }
  }
  .customOverlay {
    background: #0000008c;
  }
  // .react-responsive-modal-modal {
  //     box-shadow: none;
  //     scrollbar-color: #6969dd #e0e0e0;
  //     scrollbar-width: thin;
  // }
  .react-responsive-modal-modal {
    overflow: hidden;
  }
  .Diamond-form form {
    overflow-y: scroll;
    height: 545px;
  }
  .Diamond-form form::-webkit-scrollbar {
    width: 5px;
    margin-right: 10px;
  }
  .Diamond-form form::-webkit-scrollbar-track {
    background-color: #fff;
  }
  .Diamond-form form::-webkit-scrollbar-thumb {
    background-color: rgb(108, 107, 107);
  }
  .Diamond-form--small form {
    overflow-y: scroll;
    height: 462px;
  }
  .Diamond-form--small form::-webkit-scrollbar {
    width: 5px;
    margin-right: 10px;
  }
  .Diamond-form--small form::-webkit-scrollbar-track {
    background-color: #fff;
  }
  .Diamond-form--small form::-webkit-scrollbar-thumb {
    background-color: rgb(108, 107, 107);
  }
  .Diamond-form--xx-small form {
    overflow-y: scroll;
    height: 440px;
  }
  .Diamond-form--xx-small form::-webkit-scrollbar {
    width: 5px;
    margin-right: 10px;
  }
  .Diamond-form--xx-small form::-webkit-scrollbar-track {
    background-color: #fff;
  }
  .Diamond-form--xx-small form::-webkit-scrollbar-thumb {
    background-color: rgb(108, 107, 107);
  }
  .popup_product {
    width: 500px;
    margin: 1.2rem;
    display: inline-block;
    @include media-breakpoint-up(md) {
      margin: 20px auto;
      height: auto;
      width: 600px;
      display: block;
    }
    .popup_pr {
      margin-bottom: 10px;
    }
  }
  .popup_diamond-product {
    width: 500px;
    margin: 1.2rem;
    display: inline-block;
    @include media-breakpoint-up(md) {
      margin: 20px auto;
      height: 80%;
      width: 600px;
      display: block;
      height: 650px;
    }
  }
  // .popup-form-small {
  //     max-width: 100%;
  //     top: 100px;
  //     margin: 1.2rem;
  //     display: block;
  //     @include media-breakpoint-up(lg) {
  //         margin: 20px auto;
  //         top: 15%;
  //         display: block;
  //         max-height: 560px;
  //         max-width: 600px;
  //     }
  // }
  // .popup-form-extra-small {
  //     max-width: 100%;
  //     top: 100px;
  //     margin: 1.2rem;
  //     display: block;
  //     @include media-breakpoint-up(lg) {
  //         margin: 20px auto;
  //         top: 15%;
  //         display: block;
  //         max-height: 528px;
  //         max-width: 600px;
  //     }
  // }
  .popup-form {
    margin: 1.2rem;
    display: block;
    width: 90%;
    @include media-breakpoint-up(lg) {
      margin: 20px auto;
      display: block;
      width: 600px;
      max-height: 650px;
    }
  }
  .popup-form-extra-small {
    margin: 1.2rem;
    display: block;
    width: 90%;
    @include media-breakpoint-up(lg) {
      margin: 20px auto;
      display: block;
      max-height: 525px;
      width: 600px;
    }
  }
  .popup-form-small {
    margin: 1.2rem;
    display: block;
    width: 90%;
    @include media-breakpoint-up(lg) {
      margin: 20px auto;
      display: block;
      width: 600px;
      max-height: 560px;
    }
  }
  .popup-internal-form {
    max-width: 400px;
    top: 0;
    margin: 1.2rem;
    display: inline-block;
    border: 2px solid $black;
    @include media-breakpoint-up(md) {
      margin: 20px auto;
      top: auto;
      display: block;
    }
  }
  .popup_Modal {
    max-width: 600px;
    padding: 25px 15px;
    .popup-image {
      width: 100%;
    }
    .popup_content {
      border: 1px solid #ddd;
      padding: 10px;
      p {
        font-family: "Lato", sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #000;
      }
    }
  }
  .react-responsive-modal-closeButton {
    top: 0px;
    right: 0;
    background-color: #000;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  .popup-print-info {
    .requested-form {
      margin-bottom: 0;
      text-align: center;
    }
  }
}

.btn {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 0;
  transition: 0.3s;
  text-transform: capitalize;
  min-width: inherit !important;
  min-height: inherit !important;
  margin-bottom: 15px;
  &:hover {
    background-color: #92cddc;
    color: #fff;
    box-shadow: none !important;
  }
}

// .show .modal-dialog .modal-body .modal__spinner{
//    position: relative;
// }
.show .modal-dialog .modal-body .modal__spinner {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 35%;
  background-color: #fff;
  height: 350px;
  width: 100%;
}

.ring-diamond-video video {
  width: 97%;
  margin: 0 auto;
}

.Diamond-form form .form-field .MuiFormControl-root .MuiInput-input,
.Diamond-form form .form-field .MuiInput-root .MuiInput-input {
  box-shadow: none !important;
}

.Diamond-form--small form .form-field .MuiFormControl-root .MuiInput-input,
.Diamond-form--small form .form-field .MuiInput-root .MuiInput-input {
  box-shadow: none !important;
}

.Diamond-form--xx-small form .form-field .MuiFormControl-root .MuiInput-input,
.Diamond-form--xx-small form .form-field .MuiInput-root .MuiInput-input {
  box-shadow: none !important;
}

.react-responsive-modal-root div:empty {
  display: block !important;
}

.search-product-listing .product-grid-view li.product-listing.active {
  border: 2px solid #000;
  box-shadow: 5px 5px 7px 1px #dcdcdc;
}

.diamond-product-pagination .pagination .active .page-link {
  padding: 6px 6px;
}

.noUi-target {
  z-index: 1;
  border: none;
}

.noUi-base {
  border: none;
  border-radius: 5px;
}
.range-slider_diamond .noUi-marker-sub{
  top : -14px !important;
}
.popup__reset {
  width: 350px;
  display: block;
  text-align: left;
  //vertical-align: middle;
  margin: 20px auto;
  top: 0;
  @include media-breakpoint-up(sm) {
    width: 400px;
  }
}

.reset_popup-btn {
  margin-top: 20px;
  text-align: center;
  .btn {
    padding: 5px 20px;
  }
  .btn_left {
    margin-right: 20px;
  }
}

.Diamond-form form .form-field .MuiFormControl-root,
.Diamond-form form .form-field .MuiInput-root {
  margin: 15px 0 0;
  width: 100%;
}

.Diamond-form--small form .form-field .MuiFormControl-root,
.Diamond-form--small form .form-field .MuiInput-root {
  margin: 15px 0 0;
  width: 100%;
}

.Diamond-form--xx-small form .form-field .MuiFormControl-root,
.Diamond-form--xx-small form .form-field .MuiInput-root {
  margin: 15px 0 0;
  width: 100%;
}

.form-field .MuiOutlinedInput-root {
  width: 96%;
  margin: 5px 0 10px;
}

.css-1in441m > span {
  opacity: 1;
  font-size: 15px;
}

// .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
//   width: 100%;
//   margin: 10px 0 20px;
// }
// .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root
//   legend
//   > span {
//   opacity: 1;
//   font-size: 15px;
// }
// .MuiOutlinedInput-notchedOutline legend span{
//   opacity: 1;
//   font-size: 15px;
// }
.Diamond-form form input,
.Diamond-form form select,
.Diamond-form form textarea {
  font-size: 15px;
  height: 15px;
  padding: 20px 15px 10px;
  font-size: 12px;
  height: 15px;
  line-height: 15px;
}

.Diamond-form form textarea {
  height: 35px !important;
  padding: 0;
}

.Diamond-form--small form input,
.Diamond-form--small form select,
.Diamond-form--small form textarea {
  font-size: 15px;
  height: 15px;
  padding: 20px 15px 10px;
  font-size: 12px;
  height: 15px;
  line-height: 15px;
}

.Diamond-form--small form textarea {
  height: 35px !important;
  padding: 0;
}

.Diamond-form--xx-small form input,
.Diamond-form--xx-small form select,
.Diamond-form--xx-small form textarea {
  font-size: 15px;
  height: 15px;
  padding: 20px 15px 10px;
  font-size: 12px;
  height: 15px;
  line-height: 15px;
}

.Diamond-form--xx-small form textarea {
  height: 35px !important;
  padding: 0;
}

.MuiInputLabel-root.MuiInputLabel-formControl {
  left: 0;
  top: 14px;
  display: none;
  // background-color: #fff;
}

.Diamond-form--small form .form-field .MuiFormControl-root .MuiInputLabel-root,
.Diamond-form--small form .form-field .MuiInput-root .MuiInputLabel-root {
  font-size: 16px;
  // background-color: #fff;
  color: #000;
}

.Diamond-form--xx-small
  form
  .form-field
  .MuiFormControl-root
  .MuiInputLabel-root,
.Diamond-form--xx-small form .form-field .MuiInput-root .MuiInputLabel-root {
  font-size: 16px;
  // background-color: #fff;
  color: #000;
}

// .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root legend {
//   height: auto;
// }
///.contact-prefrtence {
//margin-bottom: 20px;
// margin-top: 20px;
//}
.popup__reset p {
  text-align: center;
}

.Diamond-form input,
textarea,
select {
  box-shadow: none !important;
}

.Diamond-form--small input,
textarea,
select {
  box-shadow: none !important;
}

.Diamond-form--xx-small input,
textarea,
select {
  box-shadow: none !important;
}

.form-field .MuiOutlinedInput-root fieldset legend {
  // font-size: 15px;
  color: #000;
  height: 12px;
}

// .form-field  fieldset legend span{
//   opacity: 1;
// }
.MuiSelect-select {
  font-size: 12px !important;
  padding: 20px 14px 10px !important;
  height: 15px !important;
}

.btn-tryon {
  margin-left: 0;
}

.ringbuilder_tooltip {
  font-size: 10px !important;
  padding: 4px 4px !important;
}

.compareitems {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.compareitems table,
td,
th {
  border: 1px solid #e8e8e8;
  background-color: #f7f7f7;
  padding: 12px !important;
}

.compareitems .table > :not(:first-child) {
  border-top-color: #e8e8e8;
}

.compareitems table tfoot tr td a {
  padding: 5px 10px;
  background-color: black;
  /* margin: 10px; */
  display: inline-block;
  width: 30%;
  text-align: center;
  color: #fff;
  margin-right: 15px;
}

.compareitems table tfoot tr td a:hover {
  background-color: #92cddc;
  color: #000;
}

.compareitems table tfoot tr td:first-child {
  font-weight: 600;
}

.compareitems thead tr th {
  text-align: center;
}

.popup_product .popup_content {
  margin-top: 20px;
}

.diamond-information .diamond-spacification-list {
  overflow-y: scroll;
  height: 545px;
}

.diamond-information .diamond-spacification-list::-webkit-scrollbar {
  width: 5px;
  margin-right: 10px;
}

.diamond-information .diamond-spacification-list::-webkit-scrollbar-track {
  background-color: #fff;
}

.diamond-information .diamond-spacification-list::-webkit-scrollbar-thumb {
  background-color: #e8e8e8;
}

.diamond-information .spacification-info {
  margin-top: 10px;
}

.search-product-listing .product-grid-view li.product-listing a.btn {
  color: #fff !important;
}

.ellipsis-data .__react_component_tooltip {
  font-size: 8px !important;
  padding: 4px;
  width: 45px !important;
  text-align: center;
}

.noUi-horizontal .noUi-tooltip {
  left: 50%;
  bottom: 125%;
  font-size: 12px;
  padding: 1px 5px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
}

.noUi-horizontal .noUi-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.stud-diamond-sku {
  display: flex;
}

.stud-diamond-sku div {
  margin: 0 10px 0 0;
  font-weight: 300;
}

.completeRing .stud-product-title {
  display: block;
}

.diamond-back-button {
  margin: 30px 0;
  a {
    font-size: 20px;
    line-height: normal;
    color: #000;
    i {
      font-size: 16px;
      margin-right: 5px;
    }
  }
}


@media (max-width: 1100px) { 
  #Depth , #TableMeasure ,#Polish , #Symmetry, #Measurements{
    display: none;
  }
  .HiddenCol{
    display: none;
  }
  .Depthcol , .TableMeasurecol , .Polishcol , .Symmetrycol , .Measurementscol{
    display: none;
  }
 }

 .completeRing.product-info .diaomnd-info .product-dropdown .ringdropdown{
  padding: 0;
 }


//  lm-y-7-11-23

.react-responsive-modal-root .popup_diamond-product .diamond-information .diamond_stud_lists{
  height: 550px;
  overflow-y: scroll;
}

.react-responsive-modal-root .popup_diamond-product .diamond-information .diamond_stud_lists::-webkit-scrollbar {
  width: 5px;
  margin-right: 10px;
}
.react-responsive-modal-root .popup_diamond-product .diamond-information .diamond_stud_lists::-webkit-scrollbar-track {
  background-color: #fff;
}
.react-responsive-modal-root .popup_diamond-product .diamond-information .diamond_stud_lists::-webkit-scrollbar-thumb {
  background-color: rgb(108, 107, 107);
}

#ringbuilderSettingScrollUp .search-product-listing .grid-col-three .product-listing a {
  pointer-events: none !important;
}
#gemfind-app-store .modal {
  background-color: transparent;
}
.modal-open .modal:before {
  background-color: transparent !important;
}
.gf-stylenumber{
  color: cornflowerblue;
}

.gf-additional-diamond-information {
  overflow-x: auto; /* Allow horizontal scrolling if the table overflows */
}

.gf-additional-diamond-table {
  width: 100%; /* Set table width to 100% of parent container */
  border-collapse: collapse; /* Collapse table borders */
}

.gf-additional-diamond-table th,
.gf-additional-diamond-table td {
  padding: 8px; /* Add padding to table cells */
  border: 1px solid #ddd; /* Add border to table cells */
  text-align: left; /* Align text to the left */
}

.gf-additional-diamond-table th {
  background-color: #f2f2f2; /* Add background color to table header */
}

/* Optional: Style table header cells differently */
.gf-additional-diamond-table th:first-child {
  background-color: #e3c9c900; /* Change background color of first header cell */
}

/* Optional: Style table rows on hover */
.gf-additional-diamond-table tbody tr:hover {
  background-color: #f5f5f5; /* Change background color on hover */
}

.gf-additional-modal-title {
  font-size: 24px; /* Set the font size of the modal title */
  font-weight: bold; /* Set the font weight of the modal title */
  color: #333; /* Set the color of the modal title */
}

.gf-additional-modal-header {
  background-color: #f8f9fa; /* Set the background color of the modal header */
  border-bottom: 1px solid #dee2e6; /* Add border bottom to the modal header */
  padding: 15px; /* Add padding to the modal header */
}

.gf-additional-modal-header .btn-close{
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: relative;
}


.gf-additional-modal-header .btn-close::after{
  content: "\f00d"; /* Font Awesome Unicode for the times icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 600; /* Needed for solid icons */
  color: #000;
  font-size: 20px;
}

.gf-change-view-result{
  align-items: center;
  display: flex;
  margin-bottom: 0;
  margin-right: 10px;
  margin-top: 0;
}
.gf-change-view-result select {
  width: 75px !important;
}
